body {
background: #fe8c00;   /*fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);   /*Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00);  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ol{
  border: 4px solid #A0A;
}
li{
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 4px solid #A0A;
}


#title {
    color: #fcf3e7;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px; /*300*/
    font-size: 80px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.03em;
}

.inputField {
    width: 600px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px; /* 50*/
    border-color: #fff;
    color: #fff;
}

#title2 {
    color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px; /*100*/
}

#zip {
position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 40px;
  margin-top: 55px;
  background-color: #fff;
  color: #f24000;
}

.form-group .form-control .is-focused {
    border-bottom-color: #000;
}

.form-control {
    color: #ffffff;
}

#buttonRow {
    margin-top: 200px;
}

#buttonOne {
    background: #fff;
    color: #ff2400;

}

#buttonTwo {
    background: #fff;
    color: #ff2400;

}

#buttonThree {
    background: #fff;
    color: #ff2400;

}

#buttonFour {
    background: #fff;
    color: #ff2400;

}

#buttonFive {
    background: #fff;
    color: #ff2400;

}

#buttonSeven {
  background: #fff;
  color: #ff2400;
}

        /***Events List***/

#eventsListColumn {
    margin: 20px 0;
    align-items: center;
    margin-left: 30px;
}

#buttonSix {
    margin-left: 30px;
    background-color: #000;
    border: 2px #fff;
}

/*Artists CSS*/
/* USER PROFILE PAGE */
#cardHov {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 1000px;
}

 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255,255,255, 0.1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 25px;
    line-height: 1;
    color: #9c27b0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.wellBg {
	background-color: transparent;
}

#btn1 {
	background-color: #000;
}

.tabText {
	color: #ff4800;
}

.fontA {
	color: #9c27b0;
}

#favorites,
#stars {
	background-color: #000;
	border: 0.5px solid #9c27b0;
}

/*End of Artists CSS
*\

/* button flex center of page
==========================================================================*/
.button-wrapper .btn {
	margin: 20px 0px;
}
.button-wrapper {
	display: flex;
    flex-flow: column wrap;
	justify-content: space-around;
}
a.btn>span.glyphicon {
	margin-left: 12px;
}
@media (min-width: 520px) {
  	.button-wrapper {
		align-items: center;
    	flex-flow: row wrap;
    	-ms-flex-flow: row wrap;
    	-webkit-flex-flow: row wrap;
  	}
	.btn-container-center>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-center {
		justify-content: center;
	}
	.btn-container-center>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-center>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-left>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-left {
		justify-content: flex-start;
	}
	.btn-container-left>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-left>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-right>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-right {
		justify-content: flex-end;
	}
	.btn-container-right>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-right>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-stretch>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-stretch {
		justify-content: space-between;
	}
	.btn-container-stretch>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-stretch>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-col-center {
		flex-direction: column;
		align-items: center;
	}
	.btn-container-col-left {
		flex-direction: column;
		align-items: flex-start;
	}
	.btn-container-col-right {
		flex-direction: column;
		align-items: flex-end;

	}
