
body{
	background-color: red;
	margin: auto;
}


#title{
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
}



#zipBands{
	text-align: center;
	font-family: font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 300;
}

#letUs{
	text-align: center;
}


/* Table */
